Repository k0d3d/media-man: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

adding folder
  src/media/index.ts
  src/media/index.txt
Due: eslint --fix

adding
  src/media/index.txt
Due: none

fixes
  src/app.ts
Due: eslint --fix

using sqllite
  package.json
  pnpm-lock.yaml
  src/app.ts
Due: eslint --fix, prettier --write

using sqllite
  src/app.ts
Due: eslint --fix

cache fix
  .gitignore
  src/app.ts
Due: eslint --fix

fixing cache
  cache/index.ts
Due: eslint --fix

cache fix 2
  package.json
  src/cache/index.ts
  tsconfig.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix
  cache/index.txt
  src/cache/index.ts
Due: eslint --fix

upload media_url
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app.ts
Due: eslint --fix, prettier --write

text based watermark
  src/app.ts
  src/routes/api.ts
Due: eslint --fix

Adding Water mark
  package.json
  pnpm-lock.yaml
  src/images/watermark.png
  src/routes/api.ts
Due: eslint --fix, prettier --write

use new water mark
  src/images/tohju-logo.png
  src/images/watermark.png
Due: none

add new origin
  src/app.ts
Due: eslint --fix

save image to media
  src/app.ts
  src/routes/api.ts
Due: eslint --fix

Fixing save image
  media/index.txt
Due: none

Fixing save image
  src/app.ts
  src/routes/api.ts
Due: eslint --fix

changing path again
  package.json
  pnpm-lock.yaml
  src/routes/api.ts
Due: eslint --fix, prettier --write

removed env
  .env
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{html,json}
